<p>
  list-employee works!
</p>
<div>
    <!-- <table *ngIf="posts">
        <tr> -->
            <!-- <th>UserId</th>
            <th>ID</th> -->
            <!-- <th>title</th> -->
            <!-- <th>body</th> -->
        <!-- </tr> -->
        <!-- <tr *ngFor="let posts of posts"> -->
            <!-- <td>{{posts.userId}}</td>
            <td>{{posts.id}}</td> -->
            <!-- <td>{{posts.title}}</td> -->
            <!-- <td>{{posts.body}}</td> -->
        <!-- </tr>
    </table> -->
    <h4>Title</h4>
    <div>
        <ul *ngFor="let use of user">{{use.name}}</ul>
        <li *ngFor="let post of newPost" routerLink="/display/{{post.id}}" (click)="onSelect(post)">{{display.title}}</li>
    </div>
    
    
</div>
